@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Boheld';
  src: url('../../public/fonts/Boheld.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UnionGothic';
  src: url('../../public/fonts/union_gothic-variable.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-VariableFont_opsz\,wght.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caudex';
  src: url('../../public/fonts/Caudex-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CaudexBold';
  src: url('../../public/fonts/Caudex-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}